/* Backgrounds for Mountain Top Travel by Tyrone Overby Student */

body {	
	background:  rgb(228,238,229)  url (bg_mt_top_watermark.gif ) no-repeat center bottom fixed;
}


h1 { 
	background: #f2f6f2 url (bg_mt_top_scenery.jpg) repeat-x left bottom;
	
}

#breadcrumbs { 
	background: #404 url (bg_tree_trunks.gif) no-repeat 502px 0px;
}

#wrapper {
	background: url (bg_green_gradient.jpg) repeat-y  top left;
}

#nav a:link, #nav a:visited {
	background: rgb(90%,89%,73%) url(bg_button_dn.gif) no-repeat top left;
}

#nav a:hover, #nav a:active{
	backgroubacnd: rgb(80%,89%, 73%);
}

#island-info 
{
   	background: rgb(50%, 55%, 50%) url(bg_purple_gradient.jpg) repeat-x top left;
}

#island-info h4 {
	background: rgb(66%,47%, 66%) url(bg_purple_gradient.jpg) repeat-x top left;
}
