/* CSS Document for Coffee site by Scott McLeod */


body { 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 40px; 
	margin-right: 40px;
	background-color: #E6D5A4; 
	color: black; 
	font-family: Arial, sans-serif;
}


h1 { 
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -40px; 
	margin-right: -40px;	
	background: url(bg_coffeebeans.jpg) rgb(76,39,31);
}


h2, h3 { 
	font-family: Georgia, serif; 
	color: #774818; 
}

/* Normal Links */

a:link {
	text-decoration: underline;
	color: black;
}

a:visited {
	text-decoration: underline;
	color: gray;
}

a:hover { 
	text-decoration: none;
	color: blue;
}

a:active {
	text-decoration: none;
	color: red;
}


/* Nav Bar Links */

nav a:link {
	text-decoration: none;
	background: transparent;
	color: black;
}

nav a:visited {
	text-decoration: none;
	background: transparent;
	color: gray;
}

nav a:hover { 
	text-decoration: none;
	background: white;
	color: black;
}

nav a:active {
	text-decoration: none;
	background: red;
	color: white;
}

#copyright {
	font-size: 80%;
}
