@charset "utf-8";
/* A3P5 Stylesheet Sample */
/*Tyrone Overby */
header, nav, section, footer, article {     /* leave this alone */
	display: block;
}

body{
background-color: rgb(153,96,21); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjMzJSIgc3RvcC1jb2xvcj0iIzk5NjAxNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iI2RjYjY0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);

background: -moz-linear-gradient(-45deg,  rgba(153,96,21,1) 33%, rgba(220,182,66,1) 52%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(33%,rgba(153,96,21,1)), color-stop(52%,rgba(220,182,66,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(153,96,21,1) 33%,rgba(220,182,66,1) 52%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(153,96,21,1) 33%,rgba(220,182,66,1) 52%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(153,96,21,1) 33%,rgba(220,182,66,1) 52%); /* IE10+ */
background: linear-gradient(135deg,  rgba(153,96,21,1) 33%,rgba(220,182,66,1) 52%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#996015', endColorstr='#dcb642',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

margin: 0;
padding: 0;
}

#bodywrap
{
	margin: auto;
	padding:0;

}

.headingtext  h1
{
	letter-spacing: 2px;
	word-spacing: 3px;
	text-align: center;
	font-size: 200%;
}
#display.grad h1
{
font-size: 200%;
margin: 0;
padding: 0;
font-family: 'Smokum', Normal ;
letter-spacing: 3px;
padding: 2em 2em;

}

#pagewrap.grad h2 p
{	                 /* change background, adjust width as needed */
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/* background: gray; */
}


#main.grad h2 p
{                      /* change background, whatever else you want   */
	width: 700px;
	float: left;
	padding: 0em;
}

#main > * {                   /* adjust as needed  */
	margin-left: 2em;
}
h1
 {                          /* adjust as needed  */
	margin: 0;
}

h1, h2, h3, h4
{             
font-family: 'Smokum', Normal ;
margin-bottom: 0;
}


p 
{                         
margin-top: 5px;
}

nav
{
width: 200px;
float: left;
padding-top: 4em;

}

nav ul 
{	
list-style-type: none;     /* this turns off bullets on navigation list   */
line-height: 1.4;          /* adjust as needed for link spacing */
padding-left:0;
}

nav li 
{                

margin-top: 1px;
font-size: 95%;
text-align: center;

}

nav a
{	
text-decoration: none;     /* turns off underlining on links within nav bar  */
}

article 
{	
margin: 1em;
}


.nav { float:left_or_right; position:relative; color:color; background-color:color; }
.figure .nav { position:absolute; positioning_styles; }
.framed { display:block; border:width style color; }

#intro p
{
	text-indent: 2em;
}

#about p
{
	text-indent: 2em;
}

#hotelpic 
{                   /* add borders and margin to your hotel image here  */
float: right;
border-style: ridge;
image box-shadow: 5px;
border-width: 5px;
border-color: #4E4B27;
padding-left: -5px;
margin-left: 10px;
}

.mary
{
float: left;
border-style: ridge;
box-shadow: 3px;
border-width: 5px;
border-color: #4E4B27;
margin: 5px;	
}

.quote p img .mary
{
	float: right;
}

.calamity
{
float: right;
border-style: ridge;
box-shadow: 3px;
border-width: 5px;
border-color: #4E4B27;
margin: 5px;
}

.quote p img .calamity
{
	float: left;
}

.della
{
float: left;
border-style: ridge;
box-shadow: 3px;
border-width: 5px;
border-color: #4E4B27;
margin: 5px;
}

.quote p img .della
{
	float: right;
}


.headingtext h1
{
font-size: 200%;

}

footer 
{                      /* adjust as needed  */
margin-top: 2em;
text-align: center;
font-size: 90%;
clear: left;
}