/* Box Styles for Tyrone Overby Student's Daily Spin -- Complete Blog Pages */

div#page 
{
	border: solid 4px 770000;
	background-color: : #D8D8D8;\
	padding: 10px;
}

div#content
{
	border: solid 1px #3366CC;
}
div#masthead
{
	padding: 0 20px 30px 20px;
}