/*assignment 2 */


p {
	color: #505050;
	font-size: 1em;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin-left: 100px;	
}
h1, h2, h3 {
	color: #BD8100;
	font-family: Baskerville, "Palatino Linotype", Times, serif;
	border-top: 2px solid #86A100;
	padding-top: 7px;
	padding-left: 100px;	
}
.note {
 color: #333;
 border: 2px dashed #BD8110;
 background-color: #FBF8A9;
 margin-top: 25px;
 margin-bottom: 35px;
 padding: 20px;
}
.note strong {
  color: #FC6512;
}
#article {
 background-color: #FDF8AB;
 background-image: url(../03/images/bg_page.png);
 background-repeat: repeat-y;
 background-position: center top;
 padding: 0;
 margin: 0 auto;
 width: 760px;
}
h1+p {
 color: #FF6600;
 font-size: 1.2em;
 line-height: 140%;
 margin-top: 20px;
}